In [1]:
import os
import pandas as pd
import numpy as np
from datetime import date

In [2]:
today = today = str(date.today()).replace('-', '_')

In [20]:
df_all = pd.DataFrame()
for file in os.listdir('blocks/'):
    if today in file:
        df = pd.read_csv('blocks/'+file)
        df['nr_vertices'] = df['end']-df['start']+1
        df['file'] = file
        df_all = pd.concat([df_all, df])

In [21]:
df_all.head()

,genome,start,end,orient,block_nr,walk_length,nr_vertices,file
0,0,744,748,1,0,64,5,chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_...
1,2,924,928,1,0,64,5,chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_...
2,4,1097,1101,1,0,64,5,chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_...
3,4,1135,1139,1,0,64,5,chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_...
4,0,2033,2035,1,1,64,3,chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_...

In [22]:
df_all[df_all['nr_vertices']==0]

Empty DataFrame
Columns: [genome, start, end, orient, block_nr, walk_length, nr_vertices, file]
Index: []

In [23]:
df_all['walk_length'].describe()

count    6845.000000
mean       72.716435
std        65.916238
min         1.000000
25%        20.000000
50%        55.000000
75%       103.000000
max       391.000000
Name: walk_length, dtype: float64

In [24]:
# Number of genomes in a block
df_all.groupby(['file', 'block_nr']).size()

file                                                              block_nr
chr13_KI270842v1_alt_10_5_1_2023_03_30.csv                        0           20
                                                                  1           13
                                                                  2           12
                                                                  3           10
                                                                  4           14
                                                                              ..
chr13_KI270842v1_alt_5_5_3_2023_03_30_sort_by_nr_occurrences.csv  28           5
                                                                  29           5
                                                                  30          22
                                                                  31           5
                                                                  32           5
Length: 671, dtype: int64

In [27]:
longest_blocks = df_all[df_all['walk_length']>100]
print(f'{len(longest_blocks)}')

1740

In [ ]:
longest_blocks.groupby(['file', 'block_nr']).size().loc['chr13_KI270842v1_alt_10_5_1_2023_03_30_sort_by_length.csv']